.oferta_block{
    width: 100%;
    height: 63.4vw;
    background-color: #F5F0EC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#frame_2308{
    display: flex;
    width: 70.2vw;
    height: 13vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;
    font-family: Inter;
}
#frame_2308>h4{
    color: var(--color-green);
    font-size: 12px;
    font-weight: 400;
    line-height: 150%; 
    letter-spacing: -0.12px;
}
#frame_2308_text{
    display: flex;
    width: 47.86vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5vw;
}
#frame_2308_text>h2{
    font-family: Montserrat;
    font-size: 2.9vw;
   
    font-weight: 500;
    line-height: 115%; 
    letter-spacing: -1.44px;
}
#frame_2308_text>h3{
    font-family: Inter;
    font-size: 1.07vw;
    color: var(--color-black);
    font-weight: 400;
    line-height: 150%; 
    letter-spacing: -0.16px;
}
#cards{
    display: flex;
    height: 25.8vw;
    padding: 0px 8vw;
    justify-content: center;
    align-items: flex-start;
    gap: 4vw;
    align-self: stretch;
}
#cards_frame{
    width: 25.3vw;
    height: 19.1vw;
    background-color: var(--color-white);
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2vw;
    padding: 3.30vw 2.78vw;;
}
#cards_frame_img{
    width: 2.8vw;
    height: 2.8vw;
}
#cards_frame_text_and_icon{
    display: flex;
    flex-direction: column;
    gap: 2.5vw;
}
#cards_frame_text_and_icon>h2{
  font-family: Montserrat;
  font-size: 2.2vw;

font-weight: 500;
line-height: 115%; 
letter-spacing: -1.4px;  
}
#cards_frame_text_and_icon>h4{
font-family: Inter;
font-size: 0.9vw;

font-weight: 400;
}

#cards_frame_button{
    display: flex;
    width: 11.9vw;
    height: 1.9vw;
    justify-content: space-evenly;
    border: 0vw;
    border-bottom:  1px solid var(--color-green);
    align-items: center;
    background-color: #f5f0ec00;
    color:var(--color-green) ;
    padding: 0%;
    margin-top: 2vw;
    font-family: Inter;
    font-size: 1.1vw;

    font-weight: 400;
    line-height: 150%; 
}
#cards_button_img{
    width: 1vw;
    height: 1vw;
}

.o_firmie_block{
    width: 100%;
    height: 720px;
    display: flex;
    background-color: var(--color-green);
    justify-content: space-between;
    gap:4vw;
}
#o_firmie_block_img{
    width: 47%;
    display: flex;
    
}
#o_firmie_block_kontent{
    width: 50%;
    display: flex;
}
#o_firmie_block_text{
    display: flex;
    width: 596px;
    height: 450px;

    flex-direction: column;
    align-items: flex-start;
    gap: 2vw;

    margin: auto;

}
#o_firmie_block_text>h4{
    font-family: Inter;
    font-size: 12px;
   
    font-weight: 400;
    line-height: 150%; /* 18px */
    letter-spacing: -0.12px;
    color: var(--color-grey);
}
#tworzymy{
    font-family: Montserrat;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 115%; /* 55.2px */
letter-spacing: -1.44px;
color: var(--color-grey);
}
#pasja{
    font-family: Inter;
    font-size: 48px;
    font-style: italic;
    font-weight: 500;
    line-height: 115%;
    color: var(--color-grey);
}
#o_firmie_block_text>h3{
    font-family: Inter;
    font-size: 16px;
  
    font-weight: 400;
    line-height: 150%; 
    letter-spacing: -0.16px;
    color: var(--color-grey);
}
#o_firmie_block_button{
    display: flex;
    width:  194px;
    height: 50px;
    border-radius: 200px;
    border: 1px solid var(--color-grey);
    background-color: #f5f0ec00;
    color: var(--color-grey);
    font-family: Inter;
    font-size: 16px;

    font-weight: 400;

    align-items: center;
    justify-content: space-evenly;
}
#o_firmie_block_vector{
width: 1.1vw;
height: 1.1vw;
}
