.block_header{
    display: flex;
    width: 100%;
    height: 4.7vw;

   align-items: center;
    flex-wrap: nowrap;
   justify-content: space-around;
}

#logo_header{
    width: 8vw;
    height: 2vw;
}
#header_navbar{
    display: flex;
    width: 32vw;
    height: 2vw;
    margin: 0px 0px 0px 20vw;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
}

#header_navbar_li{
list-style-type: none;
margin-right: 1vw;
font-family: Inter;
font-weight: 400;
font-size: 1vw;
color: var(--color-black);
text-shadow: 1px 3px 7px rgba(0, 0, 0, 0.49);

}
#header_navbar_li:hover{
    cursor: pointer;
    color: var(--color-blackwhite);
}

#header_search{
    width: auto;
}
#header_oferta{
    width: 0.98vw;
}

.oferta_click{
    display: none;
    position: absolute;
    width: 19vw;
    height: 10vw;
    background-color: #1b5b31f5;
    margin: 1vw;
    top: 2vw;
    right: 34vw;
    border-radius: 2.1vw;
    padding: 1vw;

    transition: all 0.3s ease-in-out;
    color: white;
    font-family: Inter;
    font-weight: 400;
    font-size: 1.4vw;
    
}
.oferta_click>ul{
    padding: 1.2vw;
}
.oferta_click>ul>li{
    list-style-type: none;
    padding: 0.3vw;
}
.oferta_click>ul>li:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.774);
}
#oferta_hover>ul{
    padding: 1vw;
}
#oferta_hover>ul>li{
    list-style-type: none;
    padding: 2%;
}

#header_search{
    width: 3vw;
    height: 2vw;
}

.hero_block{
    width: 100%;
    height: 49.7vw;
    display: flex;
    background-color: #DCC1AB;
    margin: 0%;
}
#kontent,#kontent_photo{
width: 50%;
height: 100%;
display: flex;
}
#kontent_photo{
    justify-content: flex-end;
}
#kontent_photo_img{
    overflow: hidden;
}
#kontent_text{
    display: flex;
    width: 40vw;
    height: 30vw;
    margin: auto;
    flex-direction: column;
}
#kontent_text>h2{
    font-size: 4vw;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 5vw;
    margin: 2vw 0%;
}
#kontent_text>h4{
    width: 35vw;
    font-family: Inter;
    font-size: 1.1vw;
font-style: normal;
font-weight: 400;
margin: 0% 17% 4% 0%
}
#button_hero_block{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#buttonContact{
    width: 14.2vw;
    height: 3.5vw;
    border-radius: 200px;
    border: none;
    background-color: var(--color-green);
    color: white;
    margin: 2%;
    font-size: 1vw;
}
#buttonRealizacje{
    display: flex;
    width: 14.2vw;
    height: 3.5vw;
    border-radius: 200px;
    border: 1px solid #1B5B31;
    color: var(--color-green);
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffff00;
    font-size: 1vw;
}
#buttonRealizacje_photo{
    width: 1.2vw;  
}
#buttonContact, #buttonRealizacje:hover{
    cursor: pointer;

}
#buttonContact:hover{
    background-color: #1b5b31d3;
}
#buttonRealizacje:hover{
    border: 1px solid #1b5b31a1; 
    color: #1b5b31a8;
}
