@import 'page_1.css';
@import 'page_2.css';
:root{
    --color-black: #000000;
    --color-blackwhite:#606060;
    --color-green: #1B5B31;
    --color-white: #fff;
    --color-grey: #F5F0EC;
}
body{
    margin: 0px;
    width: auto;
}
h1{
    margin: 0%;
}
h2{
    margin: 0%;
}
h3{
    margin: 0%;
}
h4{
    margin: 0%;
}
a{
    text-decoration: none;
}

.flex{
    display: flex;
}
.flex_none{
    display: none;
}
@media screen and (max-width: 415px) {
    
    #kontent_text{
        width: 46vw;
        height: 34vw;
    }
    #kontent_text>h4{
        width: 41vw;
        font-size: 1.5vw;
    }
    #buttonContact,#buttonRealizacje {
        width: 16.2vw;
        height: 4.5vw;
        font-size: 1.2vw;
        padding: 1%;
    }
    
}
