@import 'page_1.css';
@import 'page_2.css';
:root{
    --color-black: #000000;
    --color-blackwhite:#606060;
    --color-green: #1B5B31;
}
body{
    margin: 0px;
    width: auto;
}
h1{
    margin: 0%;
}
h2{
    margin: 0%;
}
h3{
    margin: 0%;
}
h4{
    margin: 0%;
}
